*{
    margin: 0px;
    padding: 0px;
}

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html{
    width: 100%;
    height: 100%;
    flex-direction: row;
}
.menuInformativo{
    display: flex;
    width: 50%;
    margin-left: 100px;
    flex-direction: column;
}
.blocosDaPagina{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.blocoDireito{
    display: flex;
    width: 100%;
    margin: 20px;
    flex-direction: column;
}

.videos{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem 1rem;
    padding: 3rem 0;
}

.ferramentasDoSite{
    display: flex;
    width: 250px;
    flex-direction: column;
}

 .videos:first-child{
    border-top: none;
}

.videoContainer{
    display: flex;
    flex-direction: column;
}

.thumbneail{
    display: flex;
    width: auto;
    position: relative;
}

.thumbneail::before{
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    right: 5px;
    bottom:5px;
    padding: .1em .3em;
    border-radius: 3em;
    font-size: 0.9;
}
.thumbneail-image{
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 250px;
    background-color: #aaa;
}
.imagemDoThumbnail{
    display: flex;
    width: 100%;
    height: 100%;
}

.informacoesDoVideo{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;

}

.textoDoVideo{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.fotoDoPerfil{
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: .75 rem;
    background-color: #aaa;
}

.descricaoDoVideo{
    display: flex;
    flex-direction: column;
}

.tituloDoVideo{
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(24, 23, 23);
}

.nomeDoCanal{
    margin-bottom: .1rem;
    text-decoration: none;
    transition: color 150ms;
}

.nomeDoCanal:hover{
    color: #111;
}

.nomeDoCanal, .videoMetaData{
    color: #555;
}

/* HEADER */
header{
    display: flex;
    flex-direction: row;
}
.categoriasDeVideo{
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.tiposDeCategoria{
    display: flex;
    overflow: hidden;
}

.categoria{
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border:  1px solid #ccc;
    border-radius: 900px;
    background-color: #e7e7e7;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 150ms;
}

.categoria:hover{
    background-color: #ddd;

}

.categoria-active{
    background-color: black;
    color: white;
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border-radius: 900px;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
}

.categoria:last-child{
    margin-right: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.youtubeLogo, .youtubeLogoMenu{
    height: 20px;
}

.barraDePesquisa{
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
}

.barraParaPesquisa{
    width: 100%;
    font-size: inherit;
    padding: 10px;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.botaoDaPesquisa{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #777;
    background-color: #f8f8f8;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.botaoDaPesquisa:hover{
    background-color: #f0f0f0;

}

.iconesDoMenu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 1.5rem;
} 

/* ITENS DO MENU */
#linhaMenuCss{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: flex-start;

}
#iconesMenu{
    display: flex;
    margin-right: 5px;
    margin-left: 10px;
    width: 26px;
    height: 26px;
    color: #777;
}

/* #iconesMenu2{
    display: flex;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    color: #777;
} */

.playlistOne{
    display: flex;
    flex-direction: row;
}

.tituloMenu{
    font-size: 10px;
    align-items: center;
    font-weight: bold;
    margin-top: 0.5rem;
    text-decoration: none;
    color: rgb(24, 23, 23);
}